@{
    ViewData["Title"] = "Confirmation";
}

@model Mission13.Models.Bowler

<h1>@(ViewBag.ActionString)!</h1>

<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Return to Bowler List</a>